body {
  font-family: "Montserrat", sans-serif;
  background-color: #687259;
  color: #e6cebc;
}

#search-btn {
  background-color: #8e412e;
}

#camp-info-card {
  background-color: #8e412e;
}
